<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.cp.pojo.Address">
        <property name="address" value="北京"/>
    </bean>

    <bean id="student" class="com.cp.pojo.Student">
<!--        1.普通值注入-->
        <property name="name" value="cp"/>
<!--        2.bean注入-->
        <property name="address" ref="address"/>

<!--        3.数组注入-->
        <property name="book">
            <array>
                <value>红楼梦</value>
                <value>西游记</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
<!--        List-->
        <property name="hobbys">
            <list>
                <value>听歌</value>
                <value>看电影</value>
                <value>煮饭</value>
            </list>
        </property>
<!--        map-->
        <property name="card">
            <map>
                <entry key="身份证" value="123456123456671234"/>
                <entry key="银行卡" value="621700135840124584115"/>
            </map>
        </property>
<!--        set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>DNF</value>
                <value>BOB</value>
            </set>
        </property>

<!--        NULL-->
        <property name="wife">
            <null/>
        </property>
        
        <property name="info">
            <props>
                <prop key="学号">2014213213</prop>
                <prop key="电话">18030142311</prop>
                <prop key="班级">三年级一班</prop>
            </props>
        </property>
        
    </bean>

</beans>